// 默认主题颜色
:root {
    --layout-header-bg: #409eff;
    --layout-header-text: #ffffff;
  
    --layout-sidebar-bg: #2c3e50;
    --layout-sidebar-text: #ffffff;
  
    --layout-main-bg: #f5f7fa;
    --layout-main-text: #333333;
  
    --el-card-bg: #ffffff;
    --el-card-text: #303133;
  }
  
  
  // 深色主题
  .dark {
    --layout-header-bg: #1f2937;
    --layout-header-text: #d1d5db;
  
    --layout-sidebar-bg: #111827;
    --layout-sidebar-text: #9ca3af;
  
    --layout-main-bg: #181a23;
    --layout-main-text: #e4e7eb;
  
    --el-card-bg: #1e1e1e;
    --el-card-text: #f0f0f0;
  }
  